<ion-header>
  <ion-toolbar>
    <ion-title>Made by Maciej Paul</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">

  <h1 class="welcome-heading">Welcome to the Gallery</h1>


  <p class="project-desc">
    This is a Museum Gallery. You can view images from the
    Art Institute of Chicago API. If you'd like to save a
    picture for future reference, you can bookmark it.
  </p>


  <div class="home-buttons">
    <ion-button (click)="goGallery()">Go to Gallery</ion-button>
    <ion-button fill="outline" (click)="goBookmarks()">View Bookmarks</ion-button>
  </div>
</ion-content>
